<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
<link href="articles.css" rel="stylesheet">

<!-- Encabezado - Menu principal -->
<div class="jumbotron text-center">
<div class="container">
<h1 class="jumbotron-heading">Listing articles</h1>

<div class="btn-group">
<p>
<%= link_to 'Home', welcome_index_path ,  {:class => "btn btn-primary my-2"}%>
<%= link_to 'New article', new_article_path ,  {:class => "btn btn-primary my-2"}%>
</p>
</div>

</div>
</div>

<!--  Album - Agrupado -->
<div>
<% @articles.in_groups_of(2, false) do |group| %>

<div class="col-md-4">

<% group.compact.each do |article| %>

<div class="card-body">
<h3><%= article.title %></h3>
<p class="card-text"><%= article.text%></p  >
</div>

<div class="btn-group">
<button class="btn btn-sm btn-outline-secondary"><%= link_to 'Show', article_path(article) %></button>
<button class="btn btn-sm btn-outline-secondary"><%= link_to 'Edit', edit_article_path(article) %></button>
<button class="btn btn-sm btn-outline-secondary"><%= link_to 'Destroy', article_path(article),  method: :delete, data: { confirm: 'Are you sure?' } %></button>
<small class="text-muted">9 mins</small>
</div>

<%end%>

</div>
<%end%>
